/build/
/dist/
/venv/
/.idea/
/Project9/.idea/
/FormulaTON/.idea/
/Notes+/.idea/
/Project9/GitIgnore/
/Project9/Project9ini/
/Project9/Setup/
/Project9/venv/
/minesweeper/minesweeper_test.py/
/minesweeper/.idea/
/minesweeper/minesweeper.spec
/minesweeper/dist/
/minesweeper/build/
/matplot/
/telebot/config.py
/Project9/build/
/Project9/dist/
/Project9/Project9.spec
/learnpython/
/main/build/
/main/dist/
/Parser/
