/build/
/dist/
/venv/
/.idea/
/Project9/.idea/
/FormulaTON/.idea/
/Notes+/.idea/
/Project9/GitIgnore/
/Project9/Project9ini/
/Project9/Setup/
/Project9/venv/
/minesweeper/minesweeper_test.py/
/minesweeper/.idea/
